{% extends "base.html" %}

{% block content %}

{%for row in rows%}

<style>body
  {
      margin: 0;
      padding: 0;
      background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("{{url_for('static', filename='cx-insight-YloghyfD7e8-unsplash.jpg')}}");
      background-size: cover;
      background-position: center;
      font-family: sans-serif;
  }
  .loginbox, .signupbox
  {
      width: 310px;
      height: 420px;
      font-family: sans-serif;
      background: linear-gradient(#F4D03F,#add8e6);
      color: #fff;
      top:50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      box-shadow: 0 0 40px 20px rgba(224,255,255,0.26);
      padding: 70px 30px;
      backface-visibility: hidden;
      margin-top: 40px;
  }
  .signupbox
  {
      transform: rotateY(180deg);
  }
  .user
  {
      width: 100px;
      height:100 px;
      border-radius: 50%;
      position: absolute;
      top:-50px;
      left: calc(50% - 50px);
  }
  h1
  {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
      color: #0000ff;
      border-color:antiquewhite;
  }
  .loginbox label
  {
      margin:0;
      padding: 0;
      font-weight: 550;
      color:#0000ff;
      font-size: 17px;
  }
  .loginbox input
  {
      width: 100%;
      margin-bottom: 20px;
  }
  .input-box
  {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color:#0000ff ;
      font-size: 16px;
  }
  .loginbox button
  {
      border: none;
      outline: none;
      height: 40px;
      background:#1e90ff;
      color:#0000ff;
      font-weight:bold;
      font-size: 18px;
      padding: 0px 20px 0px 20px;
      margin: 0px 0px 20px 0px;
      border-radius: 20px;
      width: 100%;
  }
  .loginbox button:hover
  {
      cursor: pointer;
      background:#00ff7e;
      color:#0000ff;
  }
  .loginbox a
  {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
     font-style: italic;
      color:#0000ff ;
  }
  .loginbox a:hover{
      color: #000080;
  }
  /* .fixed-header{
      width: 100%;
      position: fixed;        
      background: #2874A6;
      padding: 10px 0;
      color: #fff;
  }
  .fixed-header{
      top: 0;
  }
  .container{
      width: 80%;
      margin: 0 auto; /* Center the DIV horizontally */
  /* }
  nav a{
      color: #fff;
      text-decoration: none;
      padding: 7px 25px;
      display: inline-block;
  } */ </style>

<center>
<div class="card text-left mt-5" style="width: 35rem;">
  <div class="card-body">
      <form action = "{{url_for('myprofile',email=session['username'])}}" method = "POST">
        <div class="form-group">
         <h3>Donor Information</h3>


         <label for="name">name</label>
         <input type = "text"  class="form-control" name = "name" value="{{row['name']}}" required/><br>



         <label for="name">address</label>
         <input type = "text" name = "addr"  class="form-control" value="{{row['addr']}}" required/><br>

         <label for="name">city</label>
         <input type = "text" name ="city" class="form-control" value="{{row['city']}}" required/><br>

         <label for="name">pin</label>
         <input type = "text" name ="pin" class="form-control" value="{{row['pin']}}" required/><br>

         <label for="name">blood group</label>
         <input type = "text" name ="bg" class="form-control" value="{{row['bg']}}" required/><br>
         <label for="exampleInputEmail1">Email address</label>
        <input type = "email" name ="email" class="form-control" value="{{row['email']}}" required/><br>
         <input type = "submit" value = "submit" class="btn btn-primary" /><br>
       </div>
      </form>
      </div>
      </div>
      </center>



<center>
  <nav aria-label="breadcrumb  ">
    <ol class="breadcrumb mt-3 justify-content-center">
      <li class="breadcrumb-item active" aria-current="page">or</li>
    </ol>
  </nav>

 <div class="card text-white bg-dark mb-3 mt-5" style="max-width: 18rem;">
  <div class="card-header">Delete My account !!</div>
  <div class="card-body">
    <h5 class="card-title">Warning</h5>
    <p class="card-text">this will delete your account permanently</p>
      <a  class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">delete my account</a>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-dark ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Delete your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        are you sure you want to delete your account

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a  class="btn btn-danger" href = "{{url_for('deleteme',useremail=row['email'])}}">delete my account</a>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

</center>

{%endfor%}

 {% with messages = get_flashed_messages() %}
 {%if messages%}
     {%for mess in messages%}
       {{mess}}
     {%endfor%}
 {%endif%}
 {% endwith %}

 {% endblock %}
